.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;

  .form--input {
    border-radius: 5px;
    border: 1px solid #d5d4d8;
    text-indent: 5px;
  }

  .form--button {
    grid-column: 1 / -1;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
    color: white;
    border: none;
    cursor: pointer;
  }
}

.meme--image {
  max-width: 100%;
}
