nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 25px;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;

  &.dark {
    background-color: #21222A;

    .toggler--light {
      color: #918E9B;
    }
  
    .toggler-dark {
      color: #FFFFFF;
    }
  
    .toggler--slider {
      justify-content: flex-end;
      border-color: white;
      background-color: #F5F5F5;
  
      .toggler--slider--circle {
        background-color: black;
      }
    }
  }

  .nav--icon {
    width: 30px;
    margin-right: 10px;
}

.nav--logo_text {
    color: #61DAFB;
    margin-right: auto;
}

.nav--title {
    color: #DEEBF8;
}

.toggler {
  display: flex;
  align-items: center;

  p {
    font-size: 0.625rem;
    font-weight: 600;
  }

  .toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;

      .toggler--slider--circle {
        height: 13px;
        width: 13px;
        background-color: white;
        border-radius: 50%;
      }
    }
  }
}

.toggler--light {
  color: #2B283A;
}

.toggler--dark {
  color: #D5D4D8;
}
