* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

.container {
  width: 17rem;
  height: auto;
  background-color: red;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 0.7rem;
}
