main {
  width: 15rem;
  margin: 0 auto;
  padding-top: 1rem;

  h1 {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }

  p {
    color: #dcdcdc;
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    margin-top: -0.2rem;
  }
}
