nav {
  align-items: center;
  background-color: #21222a;
  text-align: center;

  .nav--icon {
    width: 100%;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    margin-bottom: 1rem;
  }

  .nav--logo_text {
    margin-right: auto;
    color: white;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0.3rem !important;
  }

  .nav--title {
    color: #f3bf99;
    font-weight: 400;
  }

  h5 {
    color: white;
    font-size: 0.7rem;
    font-weight: 300;
    margin-top: 0.7rem;
  }

  .nav--logo_text,
  .nav--title {
    margin: 0;
  }

  .nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    button {
      width: 115px;
      height: 34px;
      box-sizing: border-box;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      outline: none;

      position: static;

      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0px 8px;
    }

    .button-white {
      border: 1px solid #d1d5db;
      background: #ffffff;
      margin-right: 1rem;
      color: #374151;
    }

    .button-blue {
      background: #5093e2;
      color: white;
    }
  }
}
