* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #23252ce0;
}

.container {
  width: 17rem;
  height: auto;
  background-color: #23252c;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 0.7rem;
}
